<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mywebspring.freeboard.mapper.IFreeBoardMapper">

	<insert id="regist">
		INSERT INTO freeboard
		(title, writer, content)
		VALUES(#{title}, #{writer}, #{content}) <!-- 필드명 기준이 아니라 getter메서드 기준 -->
	</insert>

</mapper>